/* 바디 노말라이즈 */
body {
  margin: 0;
}

/* 버튼 노말라이즈 */
button {
  all: unset;
}

@font-face {
  font-family: "BMkkubulimTTF-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/BMkkubulimTTF-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.feelings {
  font-family: "BMkkubulimTTF-Regular";
  font-size: 90px;
}

.flex-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*  우잉 얜 하나 마나네? */
/* .flex-center {
  display: flex;
  flex-direction:column;
/*   justify-content: flex-start;
    align-items: flex-start; */
*/


/* 얘랑 label 이 같이 어우러져 적용되는거네 */
.feeling-categories {
  display: flex;
  flex-direction: column;
}

.list-1,
.list-2,
.list-3 {
  display: flex;
  flex-direction: column;
  gap: 10px; /* 각 체크박스 사이의 간격 */
}

label > span {
  line-height: 1.5;
  letter-spacing: 7px;
}

label {
  display: flex;
}

.flex-bottom {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.search-btn {
  background-color: none;
  font-size: 40px;
  font-family: "BMkkubulimTTF-Regular";
  border: none;
  margin-right: 60px;
}

.search-btn:hover {
  cursor: pointer;
}

.top {
  margin: 15px;
  margin-bottom: -7px;
}

.center {
  margin: 80px;
  font-family: "BMkkubulimTTF-Regular";
  font-size: 30px;
  margin-bottom: -25px;
}

.bottom {
  margin: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}
